
:root {
    
    /* BACKGROUND COLOURS */
    --body-background-colour: #2C061F;
    --floating-panel-bg-colour: #374045;
    --main-panel-bg-colour: #374045;
    
    /* BORDER COLOURS */
    --border-colour: #D89216;
    
    /* TEXT COLOURS */
    --text-colour: #FFFFFF;
    --link-colour: #E1D89F;
    
    /* NAV BUTTON COLOURS */
    --nav-button-text-colour: #FFFFFF;
    --nav-button-text-active-colour: #1A120B;
    --nav-button-active-bg-colour: #D89216;
    
    /* FONT STYLES */
    --gill-sans: "Gill Sans", sans-serif;
    --verdana: "Verdana", sans-serif;
    
    /* FONT SIZES */
    --font-size-normal: 20px;
    --font-size-larger: 34px;
    --font-size-large: 28px;
    --font-size-my-name: 34px;
    
    /* 1:1.75 aspect ratio */
    --video-size-width: 300px;
    --video-size-height: 525px;
    
    --main-panel-height:80.0vh;
}

body.body {
    /* body font */
/*    font-family: "Gill Sans", sans-serif;*/
    font-family: var(--verdana);
    background-color: var(--body-background-colour);
}

.my-text {
    font-size: var(--font-size-normal);
}

span.heading {
    font-size: var(--font-size-larger)
}

span.subheading {
    font-size: var(--font-size-large)
}

footer {
    color: var(--text-colour);
    font-family: var(--verdana);
}

.tab-pane {
    color: var(--body-background-colour);
}

.nav-link {
    color: var(--link-colour);
}

.site-link.my-btn {
    font-size: var(--font-size-normal);
    color: var(--text-colour);
    background-color: var(--border-colour);
}

.site-link {
    color: var(--link-colour);
    font-size: var(--font-size-large);
}


.floating-panel {
    color: var(--text-colour);
    background-color: var(--floating-panel-bg-colour);
    border-style: solid;
    border-width: thick;
    border-color: var(--border-colour);
    border-radius: 20px;
}

.nav-pills > button.nav-button {
    color: var(--nav-button-text-colour);
    font-weight: bold;
    font-size: var(--font-size-normal);
}

.nav-pills > button.nav-button.active {
    background-color: var(--nav-button-active-bg-colour);
    color: var(--nav-button-text-active-colour);
    font-weight: bold;
    font-size: var(--font-size-normal)
}

#site-links-list {
    list-style-type: none;
}

.main-part {
    background-color: var(--main-panel-bg-colour);
    min-height: var(--main-panel-height);
    border-style: solid;
    border-width: thick;
    border-color: var(--border-colour);
    border-radius: 20px;
}

#main-nav-bar {
    background-color: var(--body-background-colour);
}

#capstone-short {
    width: var(--video-size-width);
    height: var(--video-size-height);
}

.my-link {
    color: var(--link-colour);
    font-size: var(--font-size-large);
}

.tab-pane {
    color: var(--text-colour);
}

.my-name {
    font-size: var(--font-size-my-name);
}