
:root {
    --body-background-colour: #1A120B;
    --floating-panel-bg-colour: #49433B;
    --main-panel-bg-colour: #49433B;
    --border-colour: #D5CEA3;
    --text-colour: #FFFFFF;
    --link-colour: #FAD6A5;
    --gill-sans: "Gill Sans", sans-serif;
    --verdana: "Verdana", sans-serif;
    --font-size-normal: 1.2vmax;
    --font-size-larger: 2.7vmax;
    --font-size-large: 2.0vmax;
    --font-size-my-name: 2.6vmax;
    --video-size-width: 15.0vmax;
    --video-size-height: 26.3vmax;
    --side-bar-size:90.0vh;
    --main-panel-height:80.0vh;
}

body.body {
    /* body font */
/*    font-family: "Gill Sans", sans-serif;*/
    font-family: var(--verdana);
    background-color: var(--body-background-colour);
}

.my-text {
    font-size: var(--font-size-normal);
}

span.heading {
    font-size: var(--font-size-larger)
}

span.subheading {
    font-size: var(--font-size-large)
}

footer {
    color: var(--text-colour);
    font-family: var(--verdana);
}

.tab-pane {
    color: var(--body-background-colour);
}

.nav-link {
    color: var(--link-colour);
}

.site-link {
    color: var(--link-colour);
    font-size: var(--font-size-normal);
}

.floating-panel {
    color: var(--text-colour);
    background-color: var(--floating-panel-bg-colour);
    border-style: solid;
    border-width: thick;
    border-color: var(--border-colour);
    border-radius: 20px;
    min-height: var(--side-bar-size);
}

.nav-pills > button.nav-button {
    color: var(--link-colour);
    font-weight: bold;
    font-size: var(--font-size-normal);
}

.nav-pills > button.nav-button.active {
    background-color: var(--floating-panel-bg-colour);
    color: var(--link-colour);
    font-weight: bold;
    font-size: var(--font-size-normal)
}

#site-links-list {
    list-style-type: none;
}

.main-part {
    background-color: var(--main-panel-bg-colour);
    min-height: var(--main-panel-height);
    border-style: solid;
    border-width: thick;
    border-color: var(--border-colour);
    border-radius: 20px;
}

#main-nav-bar {
    background-color: var(--body-background-colour);
}

#capstone-short {
    width: var(--video-size-width);
    height: var(--video-size-height);
}

.my-link {
    color: var(--link-colour);
    font-size: var(--font-size-large);
}

.tab-pane {
    color: var(--text-colour);
}

.my-name {
    font-size: var(--font-size-my-name);
}