#entry {
  grid-area: entry;
  display: grid;
  grid-template-areas: 
  'heading'
  'main'
  'main'
  'main'
  ;
}

.hidden {
  display: none;
}

.bodyheading {
  font-size: var(--fsize);
}

#content-box {
  /* font-weight: 300; */
  text-wrap: wrap;
  grid-area: main;
  height: 86vh;
  width: 81vw;
  /* border: 1px solid black; */
  /* border-radius: 15px; */
  border-left: 2px solid black;
  overflow-y: visible;
  overflow-x: hidden;
  margin: 0 auto;
  /* padding-top: 1vh; */
  font-size: var(--bsize);
}

#content-box p {
  text-align: start;
}

#content-box li {
  text-align: start;
}

#link-bar {
  font-size: var(--fsize);
  /* font-weight: 300; */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 5vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

#entry-body {
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 20vh;
}


.link-button {
  /* border:solid; */
  /* border-radius: 5px; */
  padding: 5px;
}