#subheading {
  /* font-weight: 300; */
  font-size: var(--shize);
  /* margin-top: 1vh; */
  /* margin-bottom: 1vh; */
  /* font-weight: bold; */
  font-weight: 500;
}

@media (pointer:none), (pointer:coarse) {
  #subheading {
    font-size: var(--shsize-mobile) !important;
  }
}