.entry-video {
    padding: 1vw;
    justify-content: center;
    max-width: 40vw;
    max-height: 70vh;
  }
  
  #video-section {
    padding: 10px;
    padding-bottom: 5px;
    float: inline-start;
    justify-content: center;
  }