.Drawer__Container {
    height: fit-content;
    /* width: 300px; */
    background-color: #FEFFFA;
    transition: all 0.3s ease-in-out;
    transform: translate(-300px);
    position:absolute;
    z-index: 9999;
    border-style: double;
    border-left: none;
    border-color: black;
    border-radius: 1px;
  }
  .Drawer__Container--isOpen {
    transform: translate(0);
  }

  @media (pointer:none), (pointer:coarse) {
    .Drawer__Container {
      width: 200px !important;
      height: fit-content !important;
      overflow-y: auto;
    }
  }