.entry-animate-enter {
    #headbar {
      transform: translateY(-100%);
      /* opacity: 0; */
    }
    #content-box {
      #subheading {
        /* transform: translateY(100%); */
        opacity: 0;
      }
      #link-bar {
        opacity: 0;
      }
      #entry-body {
        transform: translateY(100%);
        /* opacity: 0; */
      }
    }
  }
  
  .entry-animate-enter-active {
    #headbar {
      /* opacity: 1; */
      transform: translateY(0%);
      transition: var(--time-short);
    }
    #content-box {
      #subheading {
        opacity: 1;
        /* transform: translateY(0%); */
        transition: var(--time-long);
      }
      #link-bar {
        opacity: 1;
        transition: var(--time-long);
      }
      #entry-body {
        /* opacity: 1; */
        transform: translateY(0%);
        transition: var(--time-long);
      }
    }
  }
  
  .entry-animate-done {
    #headbar {
      /* opacity: 1; */
      transform: translateY(0%);
    }
    #content-box {
      #subheading {
        opacity: 1;
        /* transform: translateY(0%); */
      }
      #link-bar {
        opacity: 1;
      }
      #entry-body {
        /* opacity: 1; */
        transform: translateY(0%);
      }
    }
  }
  
  .entry-animate-exit {
    #headbar {
      /* opacity: 0; */
      transform: translateY(0%);
    }
    #content-box {
      #subheading {
        opacity: 1;
        /* transform: translateY(100%); */
      }
      #link-bar {
        opacity: 1;
      }
      #entry-body {
        /* opacity: 0; */
        transform: translateY(0%);
      }
    }
  }
  
  .entry-animate-exit-active {
    #headbar {
      /* opacity: 1; */
      transform: translateY(-100%);
      transition: var(--time-short);
    }
    #content-box {
      #subheading {
        opacity: 0;
        /* transform: translateY(0%); */
        transition: var(--time-long);
      }
      #link-bar {
        opacity: 0;
        transition: var(--time-long);
      }
      #entry-body {
        /* opacity: 1; */
        transform: translateY(100%);
        transition: var(--time-long);
      }
    }
  }
  
  .entry-animate-exit-done {
    #headbar {
      /* opacity: 1; */
      transform: translateY(-100%);
    }
    #content-box {
      #subheading {
        opacity: 0;
        /* transform: translateY(0%); */
      }
      #link-bar {
        opacity: 0;
      }
      #entry-body {
        /* opacity: 1; */
        transform: translateY(100%);
      }
    }
  }

  .entry-animate-appear{
    #headbar {
      transform: translateY(-100%);
      /* opacity: 0; */
    }
    #content-box {
      #subheading {
        /* transform: translateY(100%); */
        opacity: 0;
      }
      #link-bar {
        opacity: 0;
      }
      #entry-body {
        transform: translateY(100%);
        /* opacity: 0; */
      }
    }
  }

  .entry-animate-appear-active{
    #headbar {
      /* opacity: 1; */
      transform: translateY(0%);
      transition: var(--time-short);
    }
    #content-box {
      #subheading {
        opacity: 1;
        /* transform: translateY(0%); */
        transition: var(--time-long);
      }
      #link-bar {
        opacity: 1;
        transition: var(--time-long);
      }
      #entry-body {
        /* opacity: 1; */
        transform: translateY(0%);
        transition: var(--time-long);
      }
    }
  }

  .entry-animate-appear-done{
    #headbar {
      /* opacity: 1; */
      transform: translateY(0%);
    }
    #content-box {
      #subheading {
        opacity: 1;
        /* transform: translateY(0%); */
      }
      #link-bar {
        opacity: 1;
      }
      #entry-body {
        /* opacity: 1; */
        transform: translateY(0%);
      }
    }
  }