menu {
    button {
        /* background-color: whitesmoke; */
        background-color: #FEFFFA;
        border: none;
        font-size: 18pt;
        /* text-decoration: underline; */
        font-weight: bold;
        width: 170px;
        /* padding: 1vh; */
        /* font-size: 16pt; */
        /* font-size: 110%; */
        text-align: start;
        font-family: 'Charmonman';
        margin: 1vh;
        
        border-top: #FEFFFA solid 1px;
        border-bottom: #FEFFFA solid 1px;
        transition: 500ms;
    }

    /** About button hover actions **/
    .about-button:hover{
        height: min-content;
        border-bottom: solid red 1px;
    }
    

    /** Project buttons **/
    .project-button {
        color: red;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .project-button:hover {
        height: min-content;
        border-bottom: solid black 1px;
    }
}





button#Projects {
    /* background-color: cornsilk; */
    font-style: italic;
}

button#Back {
    /* background-color: cornsilk; */
    font-style: italic;
}

.button-divider {
    display: none;
}

#History-divider {
    display:block;
    height: 2vh;
}

#Hello-button {
    text-align: end;
}

#Education-button {
    text-align: end;
}

#History-button {
    text-align: end;
}

