
.menu_button {
    width: 135px;
}

menu {
    margin: auto;
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 10vh;
    max-width: 100vw;
    white-space: nowrap;
    padding: 0px;
    padding-bottom: 10px;
}

menu span {
    margin-left: 1vw;
    margin-right: 1vw;
}

