
.menu_button {
    width: 145px;
    padding: 1vh;
}

menu {
    grid-area: menu;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    width: max-content;
    padding: 0px;
    margin-right: 1vw;
    max-height: 90vh;
}

menu span {
    display: flex;
    width: max-content;
    height: max-content;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#blank {
    grid-area: blank;
}
