
.menu_button {
    width: 115px;
}

menu {
    margin: auto;
    overflow-x: scroll;
    max-height: 10vh;
    max-width: 100vw;
    white-space: nowrap;
    padding: 0px;
}

menu span {
    margin-left: 1vw;
    margin-right: 1vw;
}

