:root {
    --fsize: 16pt;
    --hsize: 5vh;
    --bsize: 3vh;
    --shsize: 4vh;
    --buttonsize: 3vh;

    --time-short: 250ms;
    --time-long: 400ms;

    --hsize-mobile: 20pt;
    --shsize-mobile: 15pt;
    --bsize-mobile: 15pt;
    --buttonsize-mobile:15pt;
  }