:root {
  --fsize: 17pt;
  --hsize: 36pt;
  --bsize: 16pt;
  --time-short: 0.8s;
  --time-long: 1.1s;
}

#entry {
  grid-area: entry;
  display: grid;
  grid-template-areas: 
  'heading'
  'main'
  'main'
  'main'
  ;
}

.entry-animate-enter {
  #headbar {
    opacity: 0;
  }
  #content-box {
    #subheading {
      opacity: 0;
    }
    #entry-body {
      opacity: 0;
    }
  }
}

.entry-animate-enter-active {
  #headbar {
    opacity: 1;
    transition: var(--time-short);
  }
  #content-box {
    #subheading {
      opacity: 1;
      transition: var(--time-long);
    }
    #entry-body {
      opacity: 1;
      transition: var(--time-long);
    }
  }
}

.entry-animate-done {
  #headbar {
    opacity: 1;
  }
  #content-box {
    #subheading {
      opacity: 1;
    }
    #entry-body {
      opacity: 1;
    }
  }
}

.entry-animate-exit {
  #headbar {
    opacity: 0;
  }
  #content-box {
    #subheading {
      opacity: 0;
    }
    #entry-body {
      opacity: 0;
    }
  }
}

.entry-animate-exit-active {
  #headbar {
    opacity: 1;
    transition: var(--time-short);
  }
  #content-box {
    #subheading {
      opacity: 1;
      transition: var(--time-long);
    }
    #entry-body {
      opacity: 1;
      transition: var(--time-long);
    }
  }
}

.entry-animate-exit-done {
  #headbar {
    opacity: 1;
  }
  #content-box {
    #subheading {
      opacity: 1;
    }
    #entry-body {
      opacity: 1;
    }
  }
}

.hidden {
  display: none;
}

#headbar {
  grid-area: heading;
  font-size: var(--hsize);
  padding-top: 2vh;
  /* padding-bottom: 1vh; */
  font-family: "Charmonman";
  font-weight: bold;
  /* text-decoration: underline; */
  /* font-weight: bold; */
}

.bodyheading {
  font-size: var(--fsize);
}

#content-box {
  /* font-weight: 300; */
  text-wrap: wrap;
  grid-area: main;
  height: 86vh;
  width: 81vw;
  /* border: 1px solid black; */
  /* border-radius: 15px; */
  border-left: 1px solid black;
  overflow-y: visible;
  overflow-x: hidden;
  margin: 0 auto;
  /* padding-top: 1vh; */
  font-size: var(--bsize);
}

#content-box p {
  text-align: start;
}

#content-box li {
  text-align: start;
}

#link-bar {
  font-size: var(--fsize);
  /* font-weight: 300; */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 5vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

#entry-body {
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 20vh;
}

.link {
  padding-left: 10px;
  padding-right: 10px;
}

.link-button {
  /* border:solid; */
  /* border-radius: 5px; */
  padding: 5px;
}

.entry-video {
  padding: 1vw;
  justify-content: center;
  max-width: 40vw;
  max-height: 70vh;
}

#video-section {
  padding: 10px;
  padding-bottom: 5px;
  float: inline-start;
  justify-content: center;
}

.link-img {
  max-width: 120px;
  max-height: 70px;
  padding-left: 1vw;
  padding-right: 1vw;
  filter: sepia();
}