
.hidden {
  display: none;
}

#content-box {
  height: 83vh;
  width: 89vw;
  border: 1px solid black;
  border-radius: 15px;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#content-box p {
  text-align: start;
  padding-left: 10px;
}

#link-bar {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 5vh;
}

.link {
  padding-left: 10px;
  padding-right: 10px;
}

.link-button {
  border:solid;
  border-radius: 5px;
  padding: 5px;
}

.entry-video {
  padding: 5px;
  justify-content: center;
}

#video-section {
  padding: 10px;
  padding-bottom: 5px;
  float:inline-start;
  justify-content: center;
}