
:root {
  --fsize: 16pt;
  --hsize: 22pt;
  --bsize: 13pt;
}

.hidden {
  display: none;
}

#headbar {
  grid-area: heading;
  font-size: var(--hsize);
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 1vh;
  /* font-weight: bold; */
}

#subheading {
  font-size:  var(--fsize);
  margin-top: 1vh;
  margin-bottom: 1vh;
  /* font-weight: bold; */
}

.bodyheading {
  font-size: var(--fsize);
}

#content-box {
  grid-area: main;
  height: 86vh;
  width: 81vw;
  /* border: 1px solid black; */
  /* border-radius: 15px; */
  border-left: 1px solid black;
  overflow-y: visible;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: var(--bsize);
}

#content-box p {
  text-align: start;
}

#content-box li {
  text-align: start;
}

#link-bar {
  font-size: var(--fsize);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#entry-body {
  padding-left: 2vw;
  padding-right: 2vw;
}

.link {
  padding-left: 10px;
  padding-right: 10px;
}

.link-button {
  /* border:solid; */
  /* border-radius: 5px; */
  padding: 5px;
}

.entry-video {
  padding: 1vw;
  justify-content: center;
  max-width: 40vw; 
  max-height: 70vh;
}

#video-section {
  padding: 10px;
  padding-bottom: 5px;
  float:inline-start;
  justify-content: center;
}
