#menu-button {
    font-size: 12pt !important;
    padding: 1vw !important;
    margin: 0 auto;
    background-color: white;
    border: solid black 1px;
}

#menu-button-span {
    display: flex;
    align-items: start;
}