@media only screen and (max-width: 1000px) {

  #root {
    max-height: 97vh;
  }

  #entry {
    display: block !important;
  }

  #name {
    font-size: 2vh !important;
  }

  #content-box {
    width: 99% !important;
    border: none !important;
    font-size: var(--bsize-mobile) !important;
  }

  #subsubheading {
    font-size: 2vh !important;
  }



  .section_title {
    font-size: 2.5vh !important;
  }

  footer {
    font-size: 2vh !important;
  }

  #button-menu {
    /* border: unset;
    display: none; */
  }

  #entry-body {
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 20vh;
  }

  #video-section {
    justify-content: center;
    align-content: center;
    width: 98vw;
    padding: 0px !important;
  }

  footer {
    padding-right: 2vw;
  }

  .entry-video {
    padding: 1vh !important;
    max-height: 70vh !important;
    max-width: 60vw !important;
  }

  main {
    display: block;
    max-height: 94vh;
  }

  /* 
  menu {
    flex-direction: row !important;
    justify-content: unset !important;
    border-bottom: 1px solid black;
    margin: 0 !important;
    overflow-y: hidden !important;
    overflow-x: auto !important;
    width: 100% !important;
    height: max-content;
    max-height: 10vh;
    white-space: nowrap;
    padding: 0px;
    margin-bottom: 1vh !important;
  } */

  /* menu span {
    display: inline !important;
  } */

  button {
    /* padding: 2vh !important; */
  }

  #headbar {
    /* border-top: 1px solid black; */
    display: block;
  }

  /* .menu_button {
    text-align: center !important;
    padding: 2% !important;
  } */

  .link-img {
    max-width: 100 !important;
  }

}