#namepanel {
    padding-top: 1vh;
}

#name {
    grid-area: name;
    align-self: center;
    font-size: 16pt;
    /* font-size: 150%; */
    border-bottom: 1px black solid;
    font-family: "Charmonman";
    margin-bottom: 1vh;
}

#middle-initals {
    font-style: italic;
}

.job-link {
    padding-left: 1vw;
    padding-right: 1vw;
}

.job-img {
    max-width: 25px;
    max-height: 25px;
    filter: sepia()
}

.job-img:hover {
    max-height: 35px;
    max-width: 35px;
    vertical-align: top;
}

#personal-links-bar {
    display: flex;
    justify-content: space-evenly;
}