
#techs-used {
    /* display: flex; */
    align-content: start;
    text-align: start;
    div {
        padding: 5px;
        margin: 2px;
    }
}

.technology {
    border: 1px black solid;
    padding: 5px;
    margin: 2px;
}